@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /*noinspection ALL*/
  @font-face {
    font-family: 'CircularStd-Bold';
    src: url(/fonts/CircularStd-Bold.woff2) format('woff2');
  }

  /*noinspection ALL*/
  @font-face {
    font-family: 'CircularStd-Medium';
    src: url(/fonts/CircularStd-Medium.woff2) format('woff2');
  }

  /*noinspection ALL*/
  @font-face {
    font-family: 'CircularStd-Book';
    src: url(/fonts/CircularStd-Book.woff2) format('woff2');
  }
}

html {
  padding-right: 0 !important;
}

.wallet-adapter-button-trigger {
  background-color: transparent !important;
}

.wallet-adapter-button {
  color: white !important;
  font-weight: normal;
  font-family: 'CircularStd-Bold', sans-serif;
  font-size: 14px !important;
  border-radius: 5px;
  line-height: 0 !important;
  height: 40px !important;
  font-weight: 800 !important;
  padding: 6px 16px !important;
  margin: 0 !important;
  border: 2px solid #FC1F8E !important;
}

.wallet-adapter-button:hover {
  background-color: #FC1F8E !important;
}

.carousel .control-dots {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#sidebar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#game-slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#game-slider {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}