@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /*noinspection ALL*/
  @font-face {
    font-family: 'CircularStd-Book';
    src: url(/fonts/CircularStd-Book.woff2) format('woff2');
  }

  /*noinspection ALL*/
  @font-face {
    font-family: 'CircularStd-Bold';
    src: url(/fonts/CircularStd-Bold.woff2) format('woff2');
  }

  /*noinspection ALL*/
  @font-face {
    font-family: 'CircularStd-Medium';
    src: url(/fonts/CircularStd-Medium.woff2) format('woff2');
  }
}

html {
  padding-right: 0 !important;
  height: 100%;
  overflow: auto;
}

body {
  font-family: 'CircularStd-Book', sans-serif !important;
  height: 100%;
}

.wallet-solana>.wallet-adapter-button {
  color: white !important;
  font-family: inherit !important;
  font-size: 16px !important;
  border-radius: 5px;
  line-height: 0 !important;
  height: 40px !important;
  font-weight: 700 !important;
  padding: 16px 27px !important;
  margin: 0 !important;
  letter-spacing: 0 !important;
  background-color: #13002b !important;
}

.wallet-solana>.wallet-adapter-button:hover {
  background-color: transparent !important;
}

.carousel .control-dots {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.switch-input {
  height: 0;
  width: 0;
  visibility: hidden;
  display: none;
}

.switch-label {
  cursor: pointer;
  width: 40px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.switch-label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.switch-span::before,
.switch-span::after {
  display: block;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}

.switch-input:checked+.switch-label {
  background: linear-gradient(180deg, #f41786 0%, #a713ed 100%);
}

.switch-input:checked+.switch-label::after {
  left: 21px;
}

.scollbar_thin {
  scrollbar-width: thin;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFFFFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(41, 0, 48);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FC1F8E;
}

.slick-list {
  overflow: visible !important;
}

.slick-slide {
  margin: 0 0;
}

.blur {
  filter: blur(2px);
  animation-name: example;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.no-blur {
  filter: blur(0);
  transition: filter 0.5s 2s ease-in;
}

@keyframes example {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.collection_video {
  height: 100%;
  width: 177.77777778vh;
  min-width: 100%;
  min-height: 56.25vw;
}

.custom_select>option {
  color: #FFFFFF;
}

.force_card_height {
  width: 205px;
  height: 205px;
}

.force_card_height_portrait {
  width: 205px;
  height: 305px;
}

.no_line_break {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.react-datepicker {
  border: 2px solid #290030 !important;
  font-family: 'CircularStd-Book', sans-serif !important;
}

.react-datepicker__time-container {
  border-left: 2px solid #290030 !important;
  font-family: 'CircularStd-Book', sans-serif !important;
}

.react-datepicker__header {
  border-bottom: 2px solid #290030 !important;
}

.react-datepicker,
.react-datepicker__header,
.react-datepicker__time-list,
.react-datepicker__month-container,
.react-datepicker__input-container input {
  background-color: #13002B !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: #FFF !important;
}

.react-datepicker__navigation-icon {
  top: 5px !important;
}

.react-datepicker__input-container input {
  border-radius: 5px;
  border: 2px solid #290030;
}

.react-datepicker__input-container input:focus {
  outline-color: #FC1F8E !important;
  border: 2px solid #FFFFFF !important;
}

.react-datepicker__month-container {
  font-family: 'CircularStd-Book', sans-serif !important;
}

.react-datepicker__month-container,
.react-datepicker__month-text {
  font-size: 1rem !important;
  font-family: 'CircularStd-Book', sans-serif !important;
}

.react-datepicker__month,
.react-datepicker__day,
.react-datepicker__time-list-item {
  color: #FFFFFF !important;
}

.react-datepicker__day-name,
.react-datepicker-time__header {
  color: #AAA !important;
}

.react-datepicker__day:hover,
.react-datepicker__time-list-item:hover {
  background-color: #9497AA !important;
}

.react-datepicker__day--selected,
.react-datepicker__time-list-item--selected {
  background-color: #FC1F8E !important;
}

.react-datepicker__day--disabled {
  color: #9497AA !important;
  cursor: not-allowed !important;
}

.react-datepicker__triangle::before,
.react-datepicker__triangle::after {
  border-bottom-color: #290030 !important;
}